*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    
    
}
nav{
    display:  flex;
    justify-content: center;
   
    background-color: rgba(245, 90, 90, 1);
color: white;
    height: 55px;
}
nav >img{
    width: 24px;
    height: 24px;
    margin-top: 16px;
}
nav >h5{
    width: 109px;
    height: 16px;
    margin-top:20px ;
    margin-left: 7px;
}

.Main-content{
 display: flex;
 margin: 36px 40px;
}
/* .images{
    margin: 36px 19px;
    margin-left: 40px;
} */

.remain >h1{
   margin-top: 7px;


}
.Location{
    display: flex;
    gap: 10px;
    /* margin-top: 40px; */
}
.Location >a{
    color: rgba(145, 142, 155, 1);
}
.Location >img{
    width: 12px;
    height: 15px;
}

.remain >p{
    margin-top: 9px;
    font-size: 14.24px;
  
}
.details{
    padding: 5px 2px;
    margin:5px 19px;
}
.details >span{
    margin-top: 7px;
}